<!-- <input type="text" placeholder="Enter Name" [(ngModel)]="name" />
<input type="number" placeholder="Enter Price" [(ngModel)]="price" />
<input type="submit" (click)="insert()" /> -->
<!-- <input type="text" placeholder="Enter Name" [(ngModel)]="name" />
<input type="number" placeholder="Enter salary" [(ngModel)]="salary" />
<input type="submit" (click)="insertEmp()" /> -->
<input type="text" placeholder="Enter Name" [(ngModel)]="name" />
<input type="number" placeholder="Enter salary" [(ngModel)]="roll" />
<input type="submit" (click)="insertStud()" />
